@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* bg styles */
.container{
    background-image:url(B10A1-Challenge-Begins-main/assets/Hero-bg.png) ;
    /* position: absolute; */
    width: 1440px;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0auto;
    text-align: center;
    margin: 0 auto;
    }
    .container h1{
        font-weight: 800;
        font-size: 48px;
        color:rgb(13, 19,33) ;
    }
    .container p{
        font-weight: 400;
        font-size: 16px;
        color: rgb(13,19,33);
    }
    .btn{
        height: 40px;
        width: 200px;
        color: rgb(202, 211, 218);
        background-color: black;
        font-size: 20px;
        font-weight: 400;
    }
    
    /* why web dev start */
    
    .why-dev{
     /* margin: 0 auto; */
     margin-top:90px;
     width: 1140px;
     height: 3000px;
     background-color:#EFEFF1;
     margin-left: 110px;
     padding: 90px;
     border-radius: 30px;
    }
    .dev-container{
    background-color:#FFFFFF;
    width:1000px ;
    height:400px ;
    margin:0 auto;
    border-radius: 30px;
    
    }
    .defination{
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .defination p{
        font-size: 16px;
        font-weight: 400;
        color: rgb(83, 85, 89);
    }
    .defination h1{
        font-size: 32px;
        font-weight: 800;
    }
    .defi-all{
     justify-content: space-between;
     display: flex;
     height:200px ;
     margin-left: 48px;
    }
    .btn-more{
        margin-left:50px ;
    }
    .sub-defi h4{
        font-size: 24px;
        font-weight: 700;
    }
    .sub-defi p{
        font-size: 16px;
        font-weight: 400;
    }
    /* modern web style */
    .modern-web{
        display: flex;
        flex-direction: row;
        width:1000px ;
        height: 400px;
    }
    .modern-img{
        border: 2px solid red;
    }
    .start-modern{
        background-color:#FFFFFF;
        margin-top: 90px;
        border-radius: 30px;
    }
    .modern-web img{
        height: 240px;
        width: 240px;
        margin-top: 90px;
        margin-left: 20px;
    }
    .modernweb-cont{
        margin-top: 45px;
        margin-left:50px;
    }
    .modernweb-cont h2{
     font-size: 24px;
     font-weight: 700;
    }
    .modernweb-cont p{
        font-size: 16px;
        font-weight: 400;
        opacity: 0.7;
    }
    .mdn-btn{
        margin-top: 100px;
    }
    .mdn-btn button{
        height: 35px;
        width: 100px;
    }
    
    /* third section start */
    .third-section{
        height: 400px;
        width: 1000px;
        background-color:#FFFFFF;
        margin-top: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 30px;
    
    }
    .third-content{
        height: 300px;
        width: 50%;
        margin:48px 48px 48px 48px;
    }
    .third-content p{
        font-size: 24px;
        font-weight: 700;
        color: rgb(13, 19,33,0.7);
    }
    .third-content h5{
        font-size: 16px;
        font-weight: 400;
        opacity: 0.7;
    }
    .third-btn {
    height: 200px;
    width: 100px;
    margin-top: 110px;
    margin-left: 10px;
    }
    .third-btn button{
        height: 40px;
        width: 100px;
    }
    .third-img{
    margin-top: 60px;
    margin-right: 60px;
    }
/* inspiration part start */
.inspiration{
    width: 1000px;
    height: 100px;
    text-align: center;
}
.inspiration h1{
    font-size: 32px;
    font-weight: 800;
}
.inspiration p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
/* video portion start */
.vdo-portion{
    background-color:#FFFFFF;
    height: 380px;
    width: 980px;
    margin-top: 70px;
    padding: 10px;
    border-radius: 30px;
}

/* my current target */
.target{
    height: 100px;
    width: 1000px;
    text-align: center;
    margin-top: 10px;
}
.target h1{
    font-size: 32px;
    font-weight: 800;
}
.target p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

/* skills start */
.skills{
    height: 360px;
    width: 1000px;
    background-color:#FFFFFF;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-radius: 30px;
}
/* h */
.html{
    background-color:#FFF6F4;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgb(69, 67, 67);
    margin: 30px;
    text-align: center;
    justify-content: center;
}
.html p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.html h1{
    font-size: 24px;
    font-weight: 800;
}
.html button{
    font-size: 16px;
    font-weight: 700;
}

/* c */
.CSS{
    background-color:#F2F6FE;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgb(69, 67, 67);
    margin: 30px;
    text-align: center;
    justify-content: center;
}
.CSS p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.CSS h1{
    font-size: 24px;
    font-weight: 800;
}
.CSS button{
    font-size: 16px;
    font-weight: 700;
}
/* j */
.Javascript{
    background-color:#FFFDF2;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgb(69, 67, 67);
    margin: 30px;
    text-align: center;
    justify-content: center;
}
.Javascript p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.Javascript h1{
    font-size: 24px;
    font-weight: 800;
}
.Javascript button{
    font-size: 16px;
    font-weight: 700;
}
